.App {
    background-color: #DDAF94;
    position: absolute;
    width: 40%;
    top:2%;
    right: 30%;
}
.listItems{
  padding:0;
}

@media screen and (max-width: 500px) {
  .App {
      width: 90%;
      position: absolute;
      top:2%;
      right: 5%;
  }
}